html,
body {
    color: var(--gray-dark);
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--link-color);
}

a:visited {
    color: var(--link-color);
}


:root {
    --black: #1C2128;
    --gray: #999999;
    --gray-light: #E0E0E0;
    --gray-dark: #424242;
    --beige: #FAFAFA;
    --white: #FFF;
    --primary-light: #edfaf5;
    --primary-light-hover: #C8F8E4;
    --primary: #2FA24E;
    --font-light: #9FA3B3;
    --gradient: linear-gradient(93.33deg, #6fd38a 9.26%, #2FA24E 42.32%, #3d8e52 104.58%);
    --link-color: #004ED7;
    --red: #FF4444;
    --todo-calendar-item-height: 14px;

}